<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Clientes</h1>
    <%# Comentário no EJS %>

 
    <table border="1">
        <tr>
            <th width="150px">Nome:</th>
            <th>CPF:</th>
            <th>Endereço:</th>
        </tr>
            <% cadastros.forEach((cadastro)=>{ %>
        <tr>
            <td><%= cadastro.nome %></td>
            <td><%= cadastro.cpf %></td>         
            <td><%= cadastro.endereco %></td>
        </tr>
            <% }) %>
    </table>

<%- include ('partials/footer.ejs') %>  