<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Pedidos</h1>
    
    <table border="1">
        <tr>
            <th width="150px">Numero Pedido:</th>
            <th>Valor:</th>
        </tr>
            <% pedidos.forEach((pedido)=>{ %>
        <tr>
            <td><%= pedido.numero %></td>
            <td><%= pedido.preco %></td> 
        </tr>
            <% }) %>
    </table>

<%- include ('partials/footer.ejs') %>  